img {
    max-height: 750px;
    width: 100%;
    object-fit: cover;
}   
.footer-custom {
  background-color: #212529;
  color: white;
}
.footer-custom h5 {
  font-weight: bold;
}
.footer-custom i {
  margin-right: 8px;
  color: #0dcaf0;
}
.footer-custom .text-info {
  color: #0dcaf0;
}